.foot-main {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.foot-main p {
    color: darkslategray;
    margin: 0;
}

.foot-name {
    color: #FF2626;
    font-weight: 600;
    margin: 0;
    text-decoration: underline;
}

.foot-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.foot-item {
    margin: 0 .5rem;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: .5rem;
}

.foot-item h5 {
    color: #BD1616;

    margin: .25rem;
    font-weight: 600;
}

.foot-item:hover h5 {
    position: relative;
    bottom: 5px;
    color: #FF2626;

}


