.navbar {
    height: 60px;
    width: 100vw;
    background-color: #FFE6E6;
    z-index: 10;
    position: sticky;
    top: 0;
}

.nav-titleName {
    text-decoration: none;
    cursor: pointer;
    text-shadow: 3px 3px 5px rgb(172, 171, 171);

}

.nav-active {
    background-color: #BD1616;
    color: #FFE6E6;
    box-shadow: 0px 0px 10px black;

}

.nav-active h5 {
    color: #FFE6E6;
    font-weight: 900;
    font-style: italic;
    padding-left: 15px;
    text-shadow: 10px 5px 5px  black;

    transition: 500ms;
}



.navbar.scroll {
    box-shadow: 0px 0px 10px black;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    border: none;
}


.nav-menu {
    box-shadow: 5px 0px 25px black;
    background-color: white;
    width: 180px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    left: -100%;
    top: 0;
    transition: 750ms;
    z-index: 11;
}

.nav-menu.active {
    left: 0
}

.nav-text {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-decoration: none;
}

.nav-text:hover {
    background-color: #BD1616;
    box-shadow: 0px 0px 10px black;
    border: 1px solid black;
    border-radius: 2px;
    color: #FFE6E6;
    cursor: pointer;
    z-index: 300;
}

.nav-text:hover h5 {
    color: #FFE6E6;
    font-weight: 900;
    font-style: italic;
    text-shadow: 0px 5px 5px  black;

    transition: 300ms;
}

.nav-text h5 {
    margin: 0;
}

.nav-menu-items {
    width: 100%;
    padding-left: 0;
    list-style: none;
}

.navbar-toggle {
    width: 100%;
    justify-content: start;
    align-items: center;
    padding: 1.5rem;
    padding-bottom: 0;
}

.navbar-toggle h1 {
    font-weight: bolder;
    color: #BD1616;
    margin: 0;
    font-size: 2rem;
}

.navbar-contact {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: black;
}

a {
    color: black;
}

.contacts {
    padding: 0 .5rem;
    box-shadow: 0px 0px 5px black;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 400ms;
}

.contacts:hover {
    background-color: #BD1616;
    box-shadow: 0px 0px 10px black;
    transition: 250ms;
}

.contacts:hover path {
    color: #FFE6E6;
    transition: 250ms;
}

path {
    transition: 400ms;
}

hr {
    margin-bottom: 0;
} 

@media screen and (min-width: 1000px) {
    .navbar {
        display: none;
    }
    .nav-menu.nav-menu.active {
        left: 0;
        transition: 0ms;
    }
}