*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.App {
  background-color: #FFE6E6;
  height: 100%;
  width: 100%;
}

main {
  margin-left: 180px;
  display: flex;
  flex-direction: column;
}

.blurBackground {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 11;
  opacity: 0.50;
  background-color: hsl(0, calc(var(--saturation-factor, 1) * 0%), 0%);
}


@media screen and (max-width: 1000px) {
  main {
    margin: 0;
    /* padding: 0; */
  }
}


